# base
APP__DEV_MODE=true
APP__LOG_LEVEL=INFO

# telegram
APP__BOT_TOKEN=
APP__TARGET_CHAT=

# postgresql
APP__DB_HOST=db
APP__DB_PORT=5432
APP__DB_USER=box_bot_manager
APP__DB_PASS=box_bot_manager
APP__DB_NAME=box_bot_manager
